@import url('https://fonts.googleapis.com/css?family=Macondo|Nova+Oval');






body{
background-image: url("http://wallpapercave.com/wp/aRVXJiL.jpg");
background-size: 1500px 1500px;
   background-repeat: no-repeat;
}


h1{
font-family: 'Nova Oval', cursive;


}
h2{
  font-family:  'Nova Oval',cursive;
}
